/.ipynb_checkpoints
/.pytest_cache
/tests
/__pycache__/
utils/__pycache__/*.pyc
*.gif
utils/__pycache__/Dataclasses.cpython-313.pyc
conversation_cumulative_out_event.md
Model/diffrax_based/__pycache__/diffrax_column_model.cpython-314.pyc
